// Mixins.
@import "mixins/breakpoints";
@import "mixins/row_eq_height";

// Fonts.
@import "fonts/product_sans";

// Specific Drupal libraries are used.
@import "component/alert";
@import "component/ajax";
@import "component/field";
@import "component/file";
@import "component/filter";
@import "component/form";
@import "component/icon";
@import "component/navs";
@import "component/navbar";
@import "component/node";
@import "component/commerce_product";
@import "component/taxonomy_term";
@import "component/comments";
@import "component/panel";
@import "component/progress-bar";
@import "component/table-drag";
@import "component/tabs";
@import "component/toolbar";
@import "component/views";
@import "component/views_commerce";
@import "component/stacktable";

// Layouts.
@import "layouts/homepage/homepage_first";

// Import regions.
@import "regions/header";
@import "regions/sidebar_secondary";
@import "regions/footer";

// jQuery UI style overrides.
@import "jquery-ui/autocomplete";

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-weight: 700;
}

.dialog-off-canvas-main-canvas {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-header {
  margin-top: 10px;
}

/* @media (max-width: 576px) {
  .page-header {
    margin-top: 85px;
  }

  @media (min-width: 544px) and (max-width: 730px) {
    margin-top: 50px;
  }
} */

ol, ul {
  padding-left: 1.5em;
  .popover &:last-child {
    margin-bottom: 0;
  }
}

// Paragraphs.
p:last-child,
.form-group:last-child,
.panel:last-child {
  margin-bottom: 0;
}

// Help region.
.region-help {
  > .glyphicon {
    font-size: $font-size-large;
    float: left;
    margin: -0.05em 0.5em 0 0;
  }
  .block {
    overflow: hidden;
  }
}

.help-block, .control-group .help-inline {
  color: $gray-light;
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;
  &:first-child {
    margin-top: 0;
  }
}

@include media-breakpoint-up(lg) {
  .container-fluid {
    width: 1350px;
    max-width: 100%;
  }
}

@include media-breakpoint-down(xs) {
  .container > .navbar-header,
  .container > .navbar-collapse,
  .container-fluid > .navbar-header,
  .container-fluid > .navbar-collapse {
    margin: 0;
  }
}

.alert {
  margin-top: 20px;
}
