.cardtable-in {
  table.small-only {
    margin-bottom: 10px !important;
    &:last-child {
      margin-bottom: 0 !important;
    }
  }

}
@include media-breakpoint-down(xs) {
  table.large-only {
    display: none;
  }
}

@include media-breakpoint-up(sm) {
  table.small-only {
    display: none;
  }
}

@include media-breakpoint-down(sm) {
  table {
    border-collapse: collapse;
    border: 0;
  }
  th,
  td {
    border: 1px solid #aaa;
    background-clip: padding-box;
    scroll-snap-align: start;
  }
  tbody tr:last-child th,
  tbody tr:last-child td {
    border-bottom: 0;
  }
  thead {
    z-index: 1000;
    position: relative;
  }
  th,
  td {
    padding: 0.6rem;
    min-width: 6rem;
    text-align: left;
    margin: 0;
  }
  thead th {
    position: sticky;
    top: 0;
    border-top: 0;
    background-clip: padding-box;
  }
  thead th.pin {
    left: 0;
    z-index: 1001;
    border-left: 0;
  }
  tbody th {
    background-clip: padding-box;
    border-left: 0;
  }
  tbody {
    z-index: 10;
    position: relative;
  }
  tbody th {
    position: sticky;
    left: 0;
  }
  thead th,
  tbody th {
    background-color: #f8f8f8;
  }

}