.views-element-container {
  & > .view {
    background-color: #fff;
    padding: 20px;
    .views-row > article.blog.teaser {
      border-bottom: 1px solid #ededed;
      padding: 15px;
    }
  }

}
.comment-author {
  text-transform: capitalize;
}

.view-empty {
  padding: 15px;
}
